.layout {
  display: grid;
  grid-template-columns: 75px auto 450px;
  margin: 0 auto;
  margin-left: 100px;
  max-width: 1200px;
}

.layout__right-sidebar {
  position: fixed;
  width: 350px;
}
.layout__right-sidebar-search{
  background-color:#f5f8fa;
  opacity: 1;
  border:none;
  height: 40px;
  width: 350px;
  border-radius: 25px;
}
